/* CSS for the site */

/* Sign In Page */

.signInBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttons {
  display: flex;
  flex-direction: row;
}
.buttons button {
  padding: 0.6rem 1rem;
  margin: 1rem;
}
.active {
  background-color: #275d38;
  color: white;
}

.signInDiv {

}
.signInDiv h1 {
  text-align: center;
}
.signInDiv form {
  display: flex;
  flex-direction: column;
}

.signUpDiv {
  
}
.signUpDiv h1 {
  text-align: center;
}
.signUpDiv form {
  display: flex;
  flex-direction: column;
}