/* CSS for the site */

:root {
  --uvu-green-primary: #275d38;
  --uvu-green-l3: #6f937a;
  --uvu-green-l2: #578164;
  --uvu-green-l1: #3f6f4e;
  --uvu-green-d1: #235332;
  --uvu-green-d2: #1e482c;

  --silver: #8e8c89;
  --black: #1f1f1f;
  --grey: #e8e8e8;
  --grey-light: #f9f9f9;

  --red: #e15230;
}

/* Sign In Page */

.signInBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttons {
  display: flex;
  flex-direction: row;
}
.buttons button {
  padding: 0.6rem 1rem;
  margin: 1rem;
}
.active {
  background-color: #275d38;
  color: white;
}

.signInDiv {

}
.signInDiv h1 {
  text-align: center;
}
.signInDiv form {
  display: flex;
  flex-direction: column;
}

.signUpDiv {
  
}
.signUpDiv h1 {
  text-align: center;
}
.signUpDiv form {
  display: flex;
  flex-direction: column;
}

/* Admin Page */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topDiv {

}
.errorDiv {
  color: var(--red);
}