/* CSS for the site */

:root {
  --uvu-green-primary: #275d38;
  --uvu-green-l3: #6f937a;
  --uvu-green-l2: #578164;
  --uvu-green-l1: #3f6f4e;
  --uvu-green-d1: #235332;
  --uvu-green-d2: #1e482c;

  --silver: #8e8c89;
  --black: #1f1f1f;
  --grey: #e8e8e8;
  --grey-light: #f9f9f9;

  --red: #e15230;
}

/* Sign In Page */

.signInBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

}
.buttons {
  display: flex;
  flex-direction: row;
}
.buttons button {
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: solid 1px var(--black);
  border-radius: 5px;
  cursor: pointer;
}
.active {
  background-color: #275d38;
  color: white;
}

.signInDiv {

}
.signInDiv h1 {
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--uvu-green-l2);
  padding: 2rem;
  border-radius: 8px;
  min-width: 40%;
}
.signInDiv label, .signUpDiv label {
  padding-top: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}
input {
  width: 100%;
  font-size: 1.1rem;
  border-radius: 3px;
  border: solid 1px var(--black)
}
.signInDiv button, .signUpDiv button {
  width: 50%;
  align-self: center;
  padding: 0.3rem 0.5rem;
  margin: 1rem;
  border: solid 1px var(--black);
  border-radius: 5px;

  cursor: pointer;
}

.signUpDiv {
  
}
.signUpDiv h1 {
  text-align: center;
}
.signUpDiv form {
  display: flex;
  flex-direction: column;
}

/* Admin Page */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topDiv {

}
.errorDiv {
  color: var(--red);
  font-weight: 500;
  padding: 1rem 0 5rem 0;
}

#logo {
  display: flex;
  justify-content: center;
}

/* Student/Admin Logs */

#topDiv {
  width: 100%;
}
#topDiv div {
  padding: 1rem;
}
#topDiv button, #botDiv button {
  width: 50%;
  align-self: center;
  padding: 0.3rem 0.5rem;
  border: solid 1px var(--black);
  border-radius: 5px;

  cursor: pointer;
}
textarea {
  width: 90%;
  align-self: center;
  padding: .5rem;
  border: solid 1px var(--black);
  border-radius: 5px;
}
label[for="course"] {
  margin-top: 1rem;
}

#botDiv li {
  cursor: pointer;
}

.min p {
  display: none;
}

#addCourse {
  width: 30%;
}